/* ========== form-border ========== */

/* ==================== font-size ==================== */

/* ==================== font-family ==================== */

/* ==================== font-weight ==================== */

/* ==================== line-height ==================== */

/* ==================== letter-spacing ==================== */

*,
*::before,
*::after {
	box-sizing: border-box;
	word-break: break-word;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: #fff;
	color: #333;
	display: flex;
	flex-direction: column;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", meiryo, メイリオ, osaka, "MS PGothic", arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.6;
	overflow-x: hidden;
}

.content {
	flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

/* /a */

br {
	line-height: 1.6;
}

ul,
ol {
	list-style: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

textarea {
	resize: none;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

html {
	-webkit-text-size-adjust: 100%;
	line-height: 1.15;
}

body {
	margin: 0;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace,monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	-webkit-text-decoration: underline dotted;
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: .35em .75em .625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/* ========== form-border ========== */

/* ==================== font-size ==================== */

/* ==================== font-family ==================== */

/* ==================== font-weight ==================== */

/* ==================== line-height ==================== */

/* ==================== letter-spacing ==================== */

/* ブレイクポイントの'sp','tab','pc'のいずれかを入力 */

.br-sp {
	display: block;
}

.btn {
	background-color: #222;
	border: #222;
	border-radius: 5px;
	box-shadow: 0 0 0 2px #fff, 0 0 0 6px #222;
	color: #fff;
	display: block;
	font-size: 1.2em;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
}

.btn:hover {
	background-color: #3c3c3c;
	transition: 0.1s;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 10px;
	text-align: center;
	width: 1140px;
}

.heading-font {
	font-family: "Kosugi Maru", sans-serif;
}

.heading {
	height: 100px;
	margin-bottom: 30px; /* /i */ /* /.heading-text */
}

.heading i {
	font-size: 110px;
	opacity: 0.12;
}

.heading .heading-text {
	bottom: 80px;
	position: relative;
}

.heading .heading-text p {
	font-weight: 600;
}

.inner {
	padding: 30px 0;
}

.link {
	color: #0366d7;
	outline: none;
	text-decoration: none;
}

.link:hover {
	color: #23527c;
	text-decoration: underline;
}

.modal-screen {
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid black;
	border-radius: 5px;
	bottom: 0;
	display: none;
	font-size: 1.2em;
	font-weight: 600;
	height: 250px;
	left: 0;
	margin: 120px auto 0 auto;
	max-width: 500px;
	padding: 20px 10px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 90%;
	z-index: 900;
}

.modal-screen .btn {
	cursor: pointer;
	margin: 30px auto 0 auto;
	width: 80%;
}

.text-inline {
	display: inline-block;
}

main {
	height: 100%;
}

main article {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main article #confirm {
	background-color: #e6e6e6;
	flex: 1;
}

main article #confirm .inner {
	padding-top: 0;
}

main article #confirm .inner form {
	margin: 0 auto;
	max-width: 600px;
}

main article #confirm .inner form p {
	margin-bottom: 20px;
	text-align: left;
}

main article #confirm .inner form p label {
	margin-left: 10px;
}

main article #confirm .inner form p label .required {
	background-color: #222;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 4px;
	margin-left: 2px;
	padding: 2px 8px;
	vertical-align: bottom;
}

main article #confirm .inner form p label .any {
	background-color: #666;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 3px;
	margin-left: 2px;
	padding: 2px 8px;
	vertical-align: bottom;
}

main article #confirm .inner form p label input {
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 8px;
	width: 100%;
}

main article #confirm .inner form p label input:last-child {
	margin-bottom: 0;
}

main article #confirm .inner form p label textarea {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	display: inline-block;
	min-height: 200px;
	resize: vertical;
	width: 100%;
}

main article #confirm .inner form .btn {
	cursor: pointer;
	margin: 10px auto 0 auto;
	width: 80%;
}

#contact {
	background-color: #e6e6e6;
}

#contact .contact-supple {
	margin-bottom: 20px;
}

#contact form {
	margin: 0 auto;
	max-width: 600px;
}

#contact form p {
	margin-bottom: 20px;
	text-align: left;
}

#contact form p label {
	margin-left: 10px;
}

#contact form p label .required {
	background-color: #222;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 4px;
	margin-left: 2px;
	padding: 2px 8px;
	vertical-align: bottom;
}

#contact form p label .any {
	background-color: #666;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 3px;
	margin-left: 2px;
	padding: 2px 8px;
	vertical-align: bottom;
}

#contact form p label input {
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 8px;
	width: 100%;
}

#contact form p label input:last-child {
	margin-bottom: 0;
}

#contact form p label textarea {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	display: inline-block;
	min-height: 200px;
	resize: vertical;
	width: 100%;
}

#contact form .btn {
	cursor: pointer;
	margin: 10px auto 0 auto;
	width: 80%;
}

#message {
	background-color: #e6e6e6;
}

#message .message-body {
	font-weight: 600;
}

#mv {
	background: url("../img/main-visual.jpg") no-repeat center;
	background-size: cover; /* /.mv-box */
}

#mv .mv-box {
	display: flex;
	height: 520px;
	position: relative; /* /h2 */
}

#mv .mv-box h2 {
	bottom: 20px;
	color: #fff;
	display: none;
	font-family: "Nunito", sans-serif;
	font-size: 45px;
	margin: auto; /* ページ読み込み時にフェードインさせる */
	position: relative;
	text-shadow: 0 0 10px #000;
}

#portfolio {
	background-color: #fff; /* /.portfolio-contents */
}

#portfolio .portfolio-supple {
	font-weight: 600;
	margin-bottom: 15px;
}

#portfolio .portfolio-contents {
	margin: 0 20px; /* /.portfolio-item */
}

#portfolio .portfolio-contents .portfolio-item {
	font-weight: 600;
	margin-bottom: 40px;
	text-align: left; /* /.img-wrap */
}

#portfolio .portfolio-contents .portfolio-item .img-wrap {
	height: 180px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
}

#portfolio .portfolio-contents .portfolio-item .img-wrap img {
	-o-object-fit: cover;
	-o-object-position: 50% 0;
	display: block;
	height: 180px;
	margin-bottom: 10px;
	object-fit: cover;
	object-position: 50% 0;
	transition: 0.3s;
	width: 100%;
}

#portfolio .portfolio-contents .portfolio-item .img-wrap img:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#portfolio .btn {
	margin: auto;
	width: 80%;
}

#price {
	background-color: #e6e6e6; /* /.price-table */ /* /.price-supple */
}

#price .price-table {
	border-collapse: collapse;
	margin: 0 auto;
	max-width: 550px;
	width: 100%; /* /th,td */
}

#price .price-table th,
#price .price-table td {
	border: 2px solid #222;
	padding: 10px 5px;
}

#price .price-table th {
	background-color: #222;
	color: #fff;
}

#price .price-table tbody {
	background-color: #fff;
}

#price .price-table tbody tr:hover {
	background-color: #f2f2f2;
	cursor: default;
}

#price .price-supple {
	margin-top: 10px;
}

#price .price-supple .emphasis {
	background: linear-gradient(transparent 80%, #f00 20%);
	display: inline-block;
	font-size: 1.2em;
	font-weight: 600;
}

#profile {
	background-color: #fff;
	color: #fff; /* /.profile-card */
}

#profile .profile-card {
	background-color: rgba(34, 34, 34, 0.9);
	border-radius: 10px;
	margin: 0 auto;
	max-width: 900px;
	padding: 20px;
	padding-bottom: 50px; /* /.card-flex */
}

#profile .profile-card .card-flex { /* /.profile-nameimg */ /* /.profile-detail */
}

#profile .profile-card .card-flex .profile-nameimg {
	flex: 2; /* /.social */
}

#profile .profile-card .card-flex .profile-nameimg img {
	-o-object-fit: cover;
	border-radius: 10px;
	height: 150px;
	object-fit: cover;
	width: 200px;
}

#profile .profile-card .card-flex .profile-nameimg h3 {
	font-size: 1.4em;
	margin: 10px auto;
}

#profile .profile-card .card-flex .profile-nameimg .social {
	display: flex;
	justify-content: center;
	margin-bottom: 10px; /* /li */
}

#profile .profile-card .card-flex .profile-nameimg .social li {
	font-size: 30px;
	width: 65px; /* /a */
}

#profile .profile-card .card-flex .profile-nameimg .social li a {
	color: inherit;
	text-decoration: none;
}

#profile .profile-card .card-flex .profile-nameimg .social li a .fa-twitter {
	display: block;
	transition: 0.2s;
}

#profile .profile-card .card-flex .profile-nameimg .social li a .fa-twitter:hover {
	color: #1da1f2;
}

#profile .profile-card .card-flex .profile-nameimg .social li a .fa-github {
	display: block;
	transition: 0.2s;
}

#profile .profile-card .card-flex .profile-nameimg .social li a .fa-github:hover {
	color: #222;
}

#profile .profile-card .card-flex .profile-nameimg .social li a .fa-envelope {
	display: block;
	transition: 0.2s;
}

#profile .profile-card .card-flex .profile-nameimg .social li a .fa-envelope:hover {
	opacity: 0.8;
}

#profile .profile-card .card-flex .profile-detail {
	flex: 3;
	font-size: 1.2em;
	margin-top: 30px; /* /p */
}

#profile .profile-card .card-flex .profile-detail p {
	margin-bottom: 5px;
}

#profile .profile-card .card-flex .profile-detail p .br-tab {
	display: none;
}

#profile .profile-card .card-flex .profile-detail a {
	color: #fff;
	text-decoration: underline;
}

#profile .profile-card .card-flex .profile-detail a:hover {
	opacity: 0.8;
}

#work {
	background-color: #fff; /* /.work-contents */ /* /.skills */
}

#work .work-contents {
	margin: 50px auto; /* /.work-item */
}

#work .work-contents .work-item {
	margin: 50px auto;
	width: 85%; /* /.work-icon */
}

#work .work-contents .work-item .work-icon {
	background-color: #e6e6e6;
	border-radius: 50px;
	display: flex;
	height: 100px;
	margin: 0 auto;
	width: 100px;
}

#work .work-contents .work-item .work-icon i {
	font-size: 45px;
	margin: auto;
}

#work .work-contents .work-item h3 {
	font-size: 1.25em;
	margin: 10px;
}

#work .work-contents .work-item p {
	font-weight: 600;
	text-align: left;
}

#work .work-skill {
	font-size: 1.4em;
	margin-top: 70px;
}

#work .skills {
	display: flex;
	flex-wrap: wrap; /* /.skill-item */
}

#work .skills .skill-item {
	flex: 50%;
	margin: 20px auto;
}

#work .skills .skill-item p {
	font-size: 1.2em;
	font-weight: 600;
}

#work .skills .skill-item i {
	font-size: 60px;
	margin: 5px auto 0 auto;
}

#work .skills .skill-item .fa-star {
	font-size: 1em;
}

/* ドロワーメニュー */

.drawer-nav {
	border: 2px solid #fff;
	display: block;
	height: 100%;
	opacity: 0.95;
	position: fixed;
	right: -220px;
	top: 0;
	transition: 0.2s;
	width: 220px; /* ドロワーメニューのボタン */ /* /.menu-btn */ /* アクティブ時のメニューアイコン */ /* /.menu-btn.toggle span */ /* /li */
}

.drawer-nav .menu-btn {
	background-color: #222;
	border: 2px solid #fff;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	height: 45px;
	left: -50px;
	outline: none;
	position: absolute;
	top: 0;
	width: 45px; /* アイコン */ /* /span */
}

.drawer-nav .menu-btn span {
	background-color: #fff;
	display: block;
	height: 3px;
	left: 5px;
	position: absolute;
	top: 19px;
	transition: 0.1s;
	width: 31px;
}

.drawer-nav .menu-btn span::before {
	background-color: #fff;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: -10px;
	transition: 0.2s;
	width: 100%;
}

.drawer-nav .menu-btn span::after {
	background-color: #fff;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: 10px;
	transition: 0.2s;
	width: 100%;
}

.drawer-nav .menu-btn.toggle span {
	background-color: transparent;
}

.drawer-nav .menu-btn.toggle span::before {
	-webkit-transform: rotate(45deg);
	top: 0;
	transform: rotate(45deg);
}

.drawer-nav .menu-btn.toggle span::after {
	-webkit-transform: rotate(-45deg);
	top: 0;
	transform: rotate(-45deg);
}

.drawer-nav li {
	background-color: #222;
	border-bottom: 2px solid #fff;
}

.drawer-nav li a {
	color: #fff;
	display: block;
	font-size: 20px;
	padding: 15px;
}

.drawer-nav li a:hover {
	color: #fff;
}

/* /.drawer-nav */

/* アクティブ時にドロワーメニューを表示する */

.active {
	right: 0;
}

footer {
	background-color: #222;
	color: #fff;
	padding: 6px;
	width: 100%;
}

header {
	background-color: #222;
	color: #fff;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 1000; /* /.header-inner */
}

header .header-inner {
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: space-between; /* .header-logo */
}

header .header-inner .header-logo {
	font-family: "Montserrat", sans-serif;
	font-size: 28px;
	margin: 0;
}

header .header-inner .header-logo:hover {
	opacity: 0.8;
	transition: 0.1s;
}

header .header-inner .header-logo a {
	color: inherit;
	display: block;
	text-decoration: none;
}

nav {
	background-color: #222;
	color: #fff;
	display: none;
	margin-left: auto; /* /.nav-inner */
}

nav .nav-inner { /* .navbar */
}

nav .nav-inner .navbar {
	list-style-type: none; /* li */
}

nav .nav-inner .navbar li { /* a */
}

nav .nav-inner .navbar li a {
	color: #e0e0e0;
	display: inline-block;
	padding-top: 15px;
	position: relative;
	text-decoration: none;
}

nav .nav-inner .navbar li a::after {
	background-color: #fff;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	margin-bottom: 2px;
	position: absolute;
	transition: 0.05s;
	width: 0;
}

nav .nav-inner .navbar li a:hover {
	color: #fff;
}

nav .nav-inner .navbar li a:hover::after {
	width: 100%;
}

nav .nav-inner .navbar li a i {
	font-size: 22px;
}

nav .nav-inner .navbar li a p {
	font-size: 0.9em;
}

/* nav */

@media screen and (min-width: 768px) {

.br-sp {
	display: none;
}

.btn {
	font-size: 1.5em;
	padding: 15px 0;
}

.container {
	padding: 0 20px;
}

.heading {
	height: 120px;
}

.heading i {
	font-size: 125px;
}

.heading .heading-text {
	bottom: 95px;
}

.heading .heading-text h2 {
	font-size: 1.7em;
}

.heading .heading-text p {
	font-size: 1.2em;
}

.inner {
	padding: 50px 0;
}

main article #confirm .inner form .btn {
	width: 100%;
}

#contact form .btn {
	width: 100%;
}

#mv .mv-box h2 {
	font-size: 75px;
}

#portfolio .portfolio-contents {
	display: flex;
	justify-content: space-between;
	margin: 0 0 30px 0;
}

#portfolio .portfolio-contents .portfolio-item {
	margin-bottom: 0;
	width: 32%;
}

#portfolio .portfolio-contents .portfolio-item:last-child {
	margin-right: 0;
}

#profile .profile-card .card-flex {
	display: flex;
}

#profile .profile-card .card-flex .profile-nameimg img {
	-o-object-fit: fill;
	border-radius: 50px;
	height: auto;
	object-fit: fill;
}

#profile .profile-card .card-flex .profile-nameimg h3 {
	margin: 20px auto;
}

#profile .profile-card .card-flex .profile-detail p .br-tab {
	display: block;
}

#work .work-contents {
	display: flex;
	margin: 0;
}

#work .work-contents .work-item {
	margin: 0 10px;
	width: 100%;
}

#work .skills {
	margin: 0;
}

#work .skills .skill-item {
	flex: 1;
	margin: 10px auto;
}

.drawer-nav .menu-btn {
	display: none;
}

header .header-inner {
	align-items: flex-end;
	height: 65px;
}

header .header-inner .header-logo {
	font-size: 35px;
}

nav {
	display: block;
}

nav .nav-inner .navbar {
	align-items: flex-start;
	display: flex;
}

nav .nav-inner .navbar li {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	text-align: center;
	width: 64px;
}

}

@media screen and (min-width: 1024px) {

.heading {
	height: 130px;
}

.heading i {
	font-size: 135px;
}

.heading .heading-text {
	bottom: 100px;
}

.heading .heading-text h2 {
	font-size: 1.8em;
}

#mv .mv-box {
	height: 560px;
}

#mv .mv-box h2 {
	font-size: 100px;
}

#work .work-contents .work-item {
	margin: 0 20px;
}

#work .skills .skill-item p {
	font-size: 1.4em;
}

#work .skills .skill-item i {
	font-size: 80px;
}

#work .skills .skill-item .fa-star {
	font-size: 1.2em;
}

header .header-inner {
	height: 70px;
}

header .header-inner .header-logo {
	font-size: 40px;
}

nav .nav-inner .navbar li {
	margin-left: 15px;
	width: 77px;
}

nav .nav-inner .navbar li a i {
	font-size: 28px;
}

nav .nav-inner .navbar li a p {
	font-size: 1.1em;
	font-weight: 600;
}

}

