// ========== base ========== //
$color-main: #222;

// ========== background ========== //
$color-bg: #fff;
$color-bg-sub: #e6e6e6;
$color-bg-nav: #222;
$color-bg-header: #222;
$color-bg-section: #fff5db;
$color-bg-footer: #222;

// ========== text ========== //
$color-text: #333;
$color-text-sub: #666;

// ========== button ========== //
$color-button: #222;

// ========== opacity ========== //
$opacity: 0.6;

// ========== marker ========== //
$color-marker: linear-gradient(transparent 80%, #ff0000 20%);

// ========== border ========== //
$color-border: 2px solid #fff;

// ========== section-border ========== //
$color-border-section: 1px solid #eee;

/* ========== form-border ========== */
$color-form-section: 1px solid #eee;

// ========== etc ========== //
$color-attention:#dc4e41;