/* ==================== font-size ==================== */
$fz-n: 16px;

/* ==================== font-family ==================== */
$ff-standard: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", meiryo, メイリオ, osaka, "MS PGothic", arial, helvetica, sans-serif;

$ff-trend: 游ゴシック体, "Yu Gothic", yugothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, meiryo, osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

/* ==================== font-weight ==================== */
$fw-base: 500;

/* ==================== line-height ==================== */
$lh-base: 1.6;

/* ==================== letter-spacing ==================== */
$lsp-base: 1px;
