@import "../setting/color";
@import "../setting/typography";

*,
*::before,
*::after {
	box-sizing: border-box;
	word-break: break-word;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-size: $fz-n;
	font-weight: $fw-base;
	font-family: $ff-standard;
	color: $color-text;
	line-height: $lh-base;
	letter-spacing: $lsp-base;
	background: $color-bg;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

// コンテンツ量が少なくてもフッターが画面下に来る.
.content {
	flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
} /* /a */

br {
	line-height: $lh-base;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

textarea {
	resize: none;
}
