@mixin form {
	margin: 0 auto;
	max-width: 600px;

	p {
		text-align: left;
		margin-bottom: 20px;

		label {
			margin-left: 10px;

			.required {
				padding: 2px 8px;
				margin-bottom: 4px;
				margin-left: 2px;
				background-color: $color-main;
				border-radius: 10px;
				color: #fff;
				font-weight: 600;
				vertical-align: bottom;
				display: inline-block;
			}

			.any {
				padding: 2px 8px;
				margin-bottom: 3px;
				margin-left: 2px;
				background-color: #666;
				border-radius: 10px;
				color: #fff;
				font-weight: 600;
				vertical-align: bottom;
				display: inline-block;
			}

			input {
				display: inline-block;
				border: none;
				border-radius: 5px;
				width: 100%;
				padding: 8px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			textarea {
				display: inline-block;
				border: none;
				border-radius: 5px;
				width: 100%;
				resize: vertical;
				background-color: #fff;
				min-height: 200px;
			}
		} // /label //
	} // /p //

	.btn {
		cursor: pointer;
		width: 80%;
		margin: 10px auto 0 auto;

		@include mq("tab") {
			width: 100%;
		}
	}
}
