nav {
	display: none;
	background-color: $color-bg-nav;
	margin-left: auto;
	color: #fff;

	@include mq("tab") {
		display: block;
	}

	.nav-inner {

		.navbar {
			list-style-type: none;

			@include mq("tab") {
				display: flex;
				align-items: flex-start;
			}

			li {

				@include mq("tab") {
					text-align: center;
					display: flex;
					flex-direction: column;
					margin-left: 5px;
					width: 64px;
				}

				@include mq("pc") {
					margin-left: 15px;
					width: 77px;
				}

				a {
					display: inline-block;
					position: relative;
					color: #e0e0e0;
					text-decoration: none;
					padding-top: 15px;

					&::after {
						position: absolute;
						content: "";
						bottom: 0;
						left: 0;
						width: 0;
						margin-bottom: 2px;
						height: 2px;
						background-color: #fff;
						transition: 0.05s;
					}

					&:hover {
						color: #fff;

						&::after {
							width: 100%;
						}
					}

					i {
						font-size: 22px;

						@include mq("pc") {
							font-size: 28px;
						}
					}

					p {
						font-size: 0.9em;

						@include mq("pc") {
							font-size: 1.1em;
							font-weight: 600;
						}
					}
				} /* a */
			} /* li */
		} /* .navbar */
	} /* /.nav-inner */
} /* nav */
